body {
    font-family: Noto Sans, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#logo {
        color: rgb(255, 56, 92) !important;
        font-weight: bold;
        font-family: 'Alata';        
}

.card {
margin-bottom: 16px;
margin-right: 8px;
margin-left: 8px;
}

.card-body {
    padding: 0.8rem;
}     

footer{
    margin-top: 10px;
    padding: 15px;
}

#map {
    height: 350px;
    width: 100%;
   }

#mapModal {
    height: 100%; 
    width: 100%; 
   }

.fa-star, .fa-search{
color: rgb(255, 56, 92);
}
.btn-pink {
    color: #fff;
    background-color: rgb(255, 56, 92);
    border-color: rgb(255, 56, 92);
}

.search {
    padding-top: 20px;;
}

#foto{
    border-radius: 50%;
   }