body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
   /* background-color: rgb(150, 176, 204);
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;*/
}

#logo {
        font-family: Tw Cen MT;
        color: rgb(255, 56, 92) !important;
        
}

.padding {
margin-bottom: 16px;
padding-right: 8px;
padding-left: 8px;
}

.card-body {
    padding: 1rem;
}     

footer{
    margin-top: 10px;
    /*padding: 12px;*/
   /* background-color: lightgrey;*/
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }